<html>
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <% if (htmlWebpackPlugin.options.csp) { %>
    <meta http-equiv="Content-Security-Policy" content="%%CSP_CONTENT%%">
    <% } %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#2196f3">
    <% if (htmlWebpackPlugin.options.cordova) { %>
    <script src="cordova.js"></script>
    <% } %>
  </head>
  <body>

    <script id="list-item-template" type="text/template7">
      <li>
        <a href="/detail/{{ index }}" class="item-link item-content fab-close">
          <div class="item-media"><img class="lazy lazy-fade-in" data-src="{{ picture.thumbnail }}" width="44" /></div>
          <div class="item-inner">
            <div class="item-title-row">
              <div class="item-title">{{ name.first }} {{ name.last }}</div>
            </div>
            <div class="item-subtitle"><i class="f7-icons" style="font-size: 15px">phone</i> {{ phone }}</div>
          </div>
        </a>
      </li>
    </script>

    <div id="app">
      <div class="statusbar"></div>
      <div class="view view-main" data-url="/" data-name="home">
        <div class="page page-with-subnavbar" data-page="main-page">
          <div class="fab fab-right-bottom">
            <a><i class="icon f7-icons">reload</i></a>
          </div>
          <div class="navbar">
            <div class="navbar-inner sliding">
              <div class="title"><%= htmlWebpackPlugin.options.title %></div>
              <div class="subnavbar">
                <form data-search-container=".virtual-list" data-search-item="li" data-search-in=".item-title" class="searchbar searchbar-init">
                  <div class="searchbar-inner">
                    <div class="searchbar-input-wrap">
                      <input type="search" placeholder="Search"/>
                      <i class="searchbar-icon"></i>
                      <span class="input-clear-button"></span>
                    </div>
                    <span class="searchbar-disable-button">Cancel</span>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="searchbar-backdrop"></div>
          <div class="page-content">
            <div class="list simple-list searchbar-not-found">
              <ul>
                <li>Nothing found</li>
              </ul>
            </div>
            <div class="list virtual-list media-list searchbar-found"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
